!!! 5
%html{lang: "en"}
  %head
    = partial "includes/layout/head"
  %body{class: "#{page_classes} #{'purple-bg' if current_page.data.purple_bg}", data: {spy: "scroll", target: ".qnav", offset: "90"}}
    .page-wrap
      = partial "includes/google/gtm"
      = partial "includes/layout/header"
      = partial "includes/layout/headline"

      .blank-header
        = image_tag "/images/home/icons-pattern-left.svg", class: "image-border image-border-left", alt: "Gitlab hero border pattern left svg"
        = image_tag "/images/home/icons-pattern-right.svg", class: "image-border image-border-right", alt: "Gitlab hero border pattern right svg"
        .header-content
          %h1
            DevOps Tools Landscape
          :markdown
            There are a ton of DevOps tools to choose from. As a single application for the entire DevOps lifecycle, GitLab provides an end-to-end solution for your DevOps needs. See how GitLab compares to other tools by clicking on a logo. 
          %a.btn.cta-btn.btn-red{ href: '/demo/' }
            Watch demo

      .comparison-container.full-post
        .container.comparison-table
          .comparison-page-content.col-sm-12
            = yield

      .content-container.explore-gitlab-products.text-center
        .container
          %h2.color-primary
            Try GitLab for free
          %p.subheader-text
            Get unlimited access to all of GitLab’s features free for 30 days. Activate your trial, invite your coworkers, and start exploring.
          .action
            = link_to "Get started", "/free-trial/", class: "btn cta-btn btn-red margin-top20"
      - if current_page.data.trial_bar
        = partial "includes/features/gitlab-ee-trial"

      .content-container.text-center{ style: "border-top: 1px solid #d7d7d7; color: #777" }
        .container
          %p
            If you feel there are inaccurate statements in this comparison or a tool missing, please 
            %a{:href => "https://gitlab.com/gitlab-com/www-gitlab-com/blob/master/source/devops-tools/index.html.haml"}edit this page 
            or propose edits by 
            %a{:href => "https://gitlab.com/gitlab-com/www-gitlab-com/-/blob/master/incoming+gitlab-com-marketing-product-marketing-7424125-issue-@incoming.gitlab.com"}opening an issue. 
            You can also send an email to 
            %a{:href => "mailto:devopstools@gitlab.com?subject=Suggested edit https://about.gitlab.com/devops-tools/"}devopstools@gitlab.com 
            with your suggested edits if you're unable to open an issue or edit this page.            
    
      .footer-container
        = partial "includes/layout/footer"
