.row.advantages
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    %h2 Why your team needs a CI/CD workflow

    %h3 Continuous integration
    %ul
      %li
        %b Detects errors as quickly as possible:
        Fix problems while fresh in developers minds
      %li
        %b Reduces integration problems:
        Smaller problems are easier to digest and solve
      %li
        %b Avoid compounding problems:
        Allows teams to develop faster, with more confidence

    %h3 Continuous delivery
    %ul
      %li
        %b Ensures every change is releasable:
        Test everything, including deployment, before calling it done
      %li
        %b Lowers risk of each release:
        Makes releases “boring”
      %li
        %b Delivers value more frequently:
        Reliable deployments mean more releases
      %li
        %b Tight customer feedback loops:
        Fast and frequent customer feedback on changes
.row
  .col-xs-1.col-md-1
  .col-xs-10.col-md-10
    = image_tag "/images/blogimages/cicd_pipeline_infograph.png", alt: "CI/CD Overview", style: "margin-top: 40px;"
%hr.divider/
